<p *ngIf="!familias"><em>Cargando...</em></p>
<div class="container-main">
    <button type="button" placement="bottom" ngbTooltip="Tooltip on bottom" class="btn btn-success navbar-btn pull-right" (click)="newFamily(FamilyModal)"><span class="glyphicon glyphicon-plus"  aria-hidden="true"></span> Nuevo Perfil</button>
    <table datatable id="datatable" [dtOptions]="dtOptions" class="table animated fadeIn fast" *ngIf="this.temp_var">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let familia of familias">
                <td>{{familia.familia_id}}</td>
                <td>{{familia.descripcion}}</td>

                <td>
                    <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Asociaciones">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"  ></span>
                              </button>
                    <button type="button" class="btn btn-info" data-toggle="tooltip" title="Editar" (click)="editFamily(FamilyModal, familia)">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"  ></span>
                      </button>
                    <button type="button" class="btn btn-danger" data-toggle="tooltip" title="Eliminar" (click)="deleteFamily(familia.familia_id)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
              </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #FamilyModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            Datos de perfil
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalFamily.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">

        <form #forma="ngForm" ngNativeValidate (ngSubmit)="saveFamily(forma)" style="padding-top: 1em; padding-bottom: 1em">

            <input class="form-control" type="hidden" name="familia_id" [(ngModel)]="familia.familia_id" #familia_id="ngModel">

            <div class="form-group">
                <label>Nombre</label>
                <!-- <input #UserName type="text" required [value]="usuario.nombre ? usuario.nombre : null" class="form-control" aria-describedby="basic-addon3" placeholder="Ingrese un nombre"> -->
                <input class="form-control" required placeholder="Ingrese una descripcion de la familia" type="text" name="descripcion" [(ngModel)]="familia.descripcion" #descripcion="ngModel">
                <!-- <div *ngIf="nombre.errors?.required">
                    Requerido
                </div> -->
            </div>



            <button type="submit" [disabled]="!forma.form.valid" class="btn btn-primary mr-auto">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Guardar
            </button>
        </form>

        <div class="modal-footer">
            Perfil
        </div>
    </div>
</ng-template>