<h1>Sube tus archivos</h1>

<br/>

<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
</div>

<input #file type="file" multiple (change)="upload(file.files)" />

<span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
  {{progress}}%
</span>

<span style="font-weight:bold;color:green;" *ngIf="message">
  {{message}}
</span>

<li [routerLinkActive]='["link-active"]'>
    <a [routerLink]='["/upload"]' (click)='collapse()'>
       <span class='glyphicon glyphicon-upload'></span> Upload
    </a>
 </li>