<div class="container-fluid" *ngIf="documentTypes">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          doCloud
        </a>
      </div>
      <span class="navbar-right"> </span>
      <button type="button" class="btn btn-default navbar-btn navbar-right" (click)="openModal(new_folder)"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nueva Carpeta</button>
      
    </div>
  </nav>
  
  <h1>Mis Carpetas</h1>
  <p class="lead">Organiza tu documentacion</p>
  
  <p *ngIf="!documentTypes"><em>Loading...</em></p>
  
  
    
    <div class="row" >
      <div class="col-xs-6 col-md-3" *ngFor="let documentTypes of documentTypes">
        <div class="thumbnail">
          <a href="#">
              <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTY2YzgwOGJmYWUgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNjZjODA4YmZhZSI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OC44MDQ2ODc1IiB5PSIxMDUuMSI+MjQyeDIwMDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" alt="...">
            </a>
            <div class="caption">
              <h3>{{ documentTypes.sd_descripcion }}</h3>  
              <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  </button>
              </div>
            </div>
          </div>  
      </div>
  
    </div>
  
    
    <ng-template #alertwin>
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefAlert.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{message}}
      </div>
    </ng-template>
  
    <ng-template #new_folder>
      <div class="modal-header">
          <h4 class="modal-title pull-left">
            Nueva Carpeta
          </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Si creas una nueva carpeta...</h3>
        <span>Puedes organizar tus documentos para encontrarlos mas facilmente! </span>
        <div style="margin-top:1em" class="input-group">
          <span class="input-group-addon">yo@/</span>
          <input type="text" required="required" class="form-control" #folderName aria-describedby="basic-addon3" >
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary mr-auto" (click)="newFolder((folderName.value))">
              <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Guardar
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Cerrar</button>
        </div>
      </div>
    </ng-template>
  
  </div>
  